ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fighters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

